.WordKeeper{
  width: 99%;
  height: 100hv;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.Word{
  width: 40%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  border-radius: 3px;
  border: 1px solid black;
  margin-top: 5px;
  overflow:hidden;
}
.Word3{
  width: 60%;
  height: 20px;
  overflow:hidden;
}
